# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

.git
.vscode
.mypy_cache
.pytest_cache
.ruff_cache
.coverage

src/data/*
src/unused/*
src/tests/*
**/*.log

TODO.md
