# Параметры для поиска вакансий
# Все указанные параметры работают вместе, фильтруя результаты выборки.
# Если надо исключить какой-либо параметр (использовать значение по умолчанию), поставьте перед ним символ комментария #. 

# Подробнее о языке запросов для поля text читайте здесь: https://hh.ru/article/1175

query:
  text: "Python"  # OR data OR дата"
  excluded_text: "senior,full,fullstack,QA,ML,LLM"  # какие слова исключить из поиска (через запятую)

  # Область поиска, допустимые значения [name, company_name, description], по умолчанию "name"
  search_field: ["name"]

  # Регионы, полный список здесь: https://api.hh.ru/areas/, по умолчанию "Россия"
  area: ["2"]  # 1 = Москва, 2 = Санкт-Петербург, 113 = Россия

  # Специализации, полный список здесь: https://api.hh.ru/professional_roles/, по умолчанию все
  professional_role: ["96"]  # 96 = Программист, разработчик, 165 - Дата-сайентист

  # Уровень дохода
  # salary: 100000  # минимальная верхняя граница зарплаты (до вычета налогов), по умолчанию 0
  only_with_salary: false  # только вакансии, где указана зарплата

  # Опыт работы, допустимые значения [no, between1And3, between3And6, moreThan6], по умолчанию все
  experience: ["between1And3"]  #, "between3And6"]

  # Режим работы, допустимые значения [ON_SITE, REMOTE, HYBRID], по умолчанию все
  work_format: [] #"REMOTE", "HYBRID"]

  per_page: 25  # сколько выдавать вакансий на страницу (максимум 100)
  order_by: "publication_time"  # упорядочить вывод по дате публикации
  label: "not_from_agency"  # исключить объявления от кадровых агентств

filter_after:
  # Список названий компаний для исключения из списка после выборки
  excluded_companies: []
 
general:
  num_workers: 3

  print_output_to_console: true
  max_to_display: 50
  show_excluded: false

  save_results_to_csv: false
  save_results_to_json: true
  save_results_to_html: true

  draw_salary_plots: false
  print_salary_stats: false
  print_key_skills: false
  print_top_words: false
